<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="OrderSetting">
      <section name="OrderMapping" type="System.Configuration.DictionarySectionHandler"/>
      <section name="OrderCarrierMapping" type="System.Configuration.DictionarySectionHandler"/>
      <section name="PrestaStatutId" type="System.Configuration.DictionarySectionHandler"/>
      <section name="MultiLangue" type="System.Configuration.DictionarySectionHandler"/>
      <section name="InfoLibre" type="System.Configuration.DictionarySectionHandler"/>
      <section name="InfoLibreValue" type="System.Configuration.DictionarySectionHandler"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <appSettings>
    <add key="SERVER" value="ALTAIS-XAPP0150\SAGE100" />
    <add key="DBNAME" value="BIJOU" />
    <add key="SQLUSER" value="sa" />
    <add key="SQLPWD" value="Inax2f5q!" />
    <add key="DEVISE" value="1"/>
    <add key="USER" value="ALTAIS"/>
    <add key="BASEURL" value="https://tech-rachat.com/modules/webservicessage/"/>
    <add key="DefaultExpeditionReference" value="TRANSPORT"/>
    <!-- ARTICLE CONFIGURATION -->
    <add key="TVA" value="20"/>
    <add key="ARRONDI" value="2"/>
    <add key="DEFAULTSTOCK" value="TRUE"/>
    <!-- END ARTICLE CONFIGURATION -->
    <add key="CRONTASKUPDATESTATUT" value="10000000"/>
    <add key="CRONTASKCHECKFORNEWORDER" value="10000000"/>
    <!-- COMMANDE CONFIGURATION -->
    <add key="AFFAIRES" value=""/>
    <add key="COMPTG" value=""/>
    <add key="CATTARIF" value=""/>
    <add key="CONDLIVRAISON" value=""/>
    <add key="EXPEDITION" value=""/>
    <add key="SOUCHE" value="N° Pièce"/>
    <add key="DEPOT" value="Bijou SA"/>
    <!-- END COMMANDE CONFIGURATION -->
    <add key="PREFIXCLIENT" value="PREFIX"/>
    <add key="CONTACTCONFIG" value="1"/>
    <add key="ACTIVECLIENT" value="TRUE"/>
    <!-- SAGE CONFIGURATION -->
    <add key="GCM_SET" value="TRUE"/>
    <add key="GCM_PATH" value="C:\Users\Public\Documents\Sage\Entreprise 100c\Bijou.gcm" />
    <add key="GCM_USER" value="&lt;Administrateur&gt;" />
    <add key="GCM_PASS" value="" />
    <add key="MAE_SET" value="TRUE" />
    <add key="MAE_PATH" value="C:\Users\Public\Documents\Sage\Entreprise 100c\BIJOU.MAE" />
    <add key="MAE_USER" value="&lt;Administrateur&gt;" />
    <add key="MAE_PASS" value="" />
    <!-- END SAGE CONFIGURATION -->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <OrderSetting>
    <OrderMapping>
      <add key="default" value="1_2_3"/>
      <add key="1" value="DocumentType.DocumentTypeVenteFacture_Bon de Commande"/>
      <add key="2" value="DocumentType.DocumentTypeVentePrepaLivraison_Préparation de livraison"/>
      <add key="3" value="DocumentType.DocumentTypeVenteLivraison_Bon de livraison"/>
      <add key="4" value="DocumentType.DocumentTypeVenteFacture_Facture"/>
    </OrderMapping>
    <OrderCarrierMapping>
      <add key="Default" value="Sernam"/>
      <add key="1" value="Sernam"/>
    </OrderCarrierMapping>
    <PrestaStatutId>
      <add key="default" value="2_3_5"/>
      <add key="1" value="En attente du paiement par chéque"/>
      <add key="2" value="Paiement accepté"/>
      <add key="3" value="Préparation en cours"/>
      <add key="4" value="En cours de livraison"/>
      <add key="5" value="Livré"/>
      <add key="6" value="Annulé"/>
      <add key="7" value="Remboursé"/>
      <add key="8" value="Erreur de paiement"/>
      <add key="9" value="En attente de réapprovisionnement"/>
      <add key="10" value="En attente du paiement par virement bancaire"/>
      <add key="11" value="En attente du paiement par Paypal"/>
      <add key="12" value="Paiement à distance accepté"/>
    </PrestaStatutId>
    <MultiLangue>
      <add key="default" value="1_2_1_1"/>
      <add key="1" value="Français"/>
      <add key="2" value="Anglais"/>
    </MultiLangue>
    <InfoLibre>
      <add key="default" value="1_2_3_4"/>
      <add key="1" value="1ère commercialisation"/>
      <add key="2" value="Marque commerciale"/>
      <add key="3" value="Objectif / Qtés vendues"/>
      <add key="4" value="Pourcentage teneur en or"/>
    </InfoLibre>
    <InfoLibreValue>
      <add key="default" value="1_2_3_4"/>
      <add key="1" value="5"/>
      <add key="2" value="6"/>
      <add key="3" value="7"/>
      <add key="4" value="8"/>
    </InfoLibreValue>
  </OrderSetting>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
